[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
twine = "*"
pytest = "*"
pytest-mock = "*"

[packages]
elastic-ssh = {path = ".",editable = true}

[requires]
python_version = "3.5"
