[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
twine = "*"
pytest = "*"
pytest-mock = "*"
wheel = "*"

[packages]
elastic-ssh = {editable = true,path = "."}

[requires]
python_version = "3.5"
